/* Enough space for navbar. */

body {
    padding-top: 60px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato', sans-serif !important;
}

.feedback_list_item {
    margin: 2em;
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #ddd;
}

.feedback_list_vote_icon {
    font-size: 2em;
    vertical-align: middle;
    color: #fb0;
    padding: 15px;

}

.feedback_list_vote_icon:hover {
    color: #e90;
    cursor: pointer;
}

.feedback_list_vote_badge {
    background-color: #68d;
}

#banner-photo {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 20%;
    background-position: center center;
    background-repeat: no-repeat;
    top: 50px;
}

.info-icon {
    font-size: 4em;
}

.short-feedback-box, .short-feedback-box-with-image {
    /* border-color: #aaa;*/
    /* border-style: solid;*/
    /* border-width: 1px;*/
    /* border-radius: 10px;*/
    padding: 0.5em;
    /* box-shadow: 1px 1px 3px 1px #aaa; */
    margin: 0px 0px 0px 15px;

}

.shadow {
    padding: 0 15px 15px 15px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 1px #E0E0E0;
    min-height: 120px;
}

.short-img {
    width: 100%;
    padding: 0;
}

.short-text {
    color: #333;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;

}

.short-text h4 {
    font-weight: bold;
    margin-bottom: 10px;

}

.main-icon {
    margin-bottom: 20px;
}

#info-row {
    margin-top: 3em;
}

#info-row h3 {
    margin-top: 0.1em;
}

#map {
    height: 400px;
    width: 100%;
}

/* Color for item under mouse in category selection */
.feedback_form_category_item:hover {
    background-color: #eee
}

.category_icon {
    color: #777;
    font-size: 5em;
}

.active .category_icon {
    color: #000;
}

.feedback_form_category_item.active {
    border-color: #000;
    background-color: #ddd;
}

.center-cropped {
    width: 240px;
    /* min-width: 160px;*/
    height: 240px;
    padding: 10px;
    /*object-fit: cover;  <-- croppes the image in*/
    object-fit: scale-down;
    object-position: center;
    background-position: center center;
    background-repeat: no-repeat;
}

.feedback_list_details {
    /* width: 160px;*/
    height: 240px;
    padding: 10px;

}

.feedback_list_content {
    padding: 10px;
    /*height: 240px;*/

}

.feedback_list_content_desc p {
    overflow: hidden;
}

.feedback_list_img {
    padding: 0 15px 0 0;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: #ddd;

}

.feedback_list_row {
    padding: 15px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 1px #aaa;
}

/* Color for item under mouse in category selection */
.feedback_form_category_item:hover {
    background-color: #eee
}

.category_icon {
    color: #777;
    font-size: 5em;
}

.active .category_icon {
    color: #000;
}

.feedback_form_category_item.active {
    border-color: #000;
    background-color: #ddd;
}

.main_footer {
    text-align: center;
    margin-top: 30px;
    padding: 15px;
    color: #9d9d9d;
    background-color: #333;
    max-height: 400px;
}

@media (min-width: 992px) {
    .shadow {
        min-height: 200px;
    }

    .feedback_list_content {
        border-right-style: solid;
        border-right-width: 1px;
        border-color: #ddd;
    }

    .report-well {
        width: 45%;
        border-color: transparent;
        margin-top: -250px;
        background-color: rgba(35, 35, 35, 0.8);
    }

    .report-well h1 {
        color: #ddd;
    }
}



