/* Enough space for navbar. */

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 51px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato', sans-serif !important;
    margin: 0 0 200px;
}

.feedback_list_vote_icon {
    border-radius: 10px;
    background-color: #68d;
    font-size: 1.5em;
    vertical-align: middle;
    color: white;
    padding: 5px;
    margin-left: 15px;

}

.feedback_title {
    font-weight: bold;
}


.feedback_list_vote_icon:hover {
    color: #57c;
    cursor: pointer;
}

.feedback_list_vote_badge {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5em;
    background-color: #68d;
}

.feedback_list_share {
    top: 7px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5em;
}

#feedback_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#banner-photo {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 20%;
    background-position: center center;
    background-repeat: no-repeat;
    top: 50px;
}

.info-icon {
    font-size: 4em;
}

.short-feedback-box, .short-feedback-box-with-image {
    /* border-color: #aaa;*/
    /* border-style: solid;*/
    /* border-width: 1px;*/
    /* border-radius: 10px;*/
    padding: 0.5em;
    /* box-shadow: 1px 1px 3px 1px #aaa; */
    margin: 0px 0px 0px 15px;

}

.shadow {
    padding: 0 15px 15px 15px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 1px #E0E0E0;
    min-height: 120px;
}

.short-img {
    width: 100%;
    padding: 0;
}

.short-text {
    color: #333;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;

}

.short-text h4 {
    font-weight: bold;
    margin-bottom: 10px;

}


#info-row {
    margin-top: 1.5em;
}

#info-row h3 {
    margin-top: 0.1em;
}

#map {
    height: calc(100vh - 51px);
    width: 100%;
    z-index: 1;
}

/* --- Sidebar --- */

#toggleButton {
    top: 100px;
    left: 300px;
    position: absolute;
    z-index: 2;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
}

#toggleButton.toggled {
    left: 0;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
}

#sidebar-wrapper {
    margin-left: 0px;
    left: -300px;
    width: 300px;
    position: fixed;
    padding: 8px 15px;
    height: 100%;
    background: #000;
    overflow-y: auto;
    z-index: 2;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
}

#sidebar-wrapper.toggled {
    left: 0;
    width: 300px;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
}

.calendar {
    width: 260px;
    padding: 10px;
    padding-top: 0px;
}

.dropdown {
    width: 260px;
    padding: 10px;
    padding-top: 0px;
}


/* css to customize Leaflet default styles  */
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #0072C6;
    color: #ffffff;
}

.custom .leaflet-popup-content-wrapper a {
    color: #ffffff;
    text-decoration: underline;
}

.custom .leaflet-popup-content-wrapper {
    width: 300px;
    max-height: 300px;
    overflow-y: auto;
}

#heatmap {
    width: auto;
    height: 500px;
    margin-top: 1%;

}

/* Color for item under mouse in category selection */
.feedback_form_category_item:hover {
    background-color: #eee
}

.category_icon {
    color: #777;
    font-size: 5em;
}

.active .category_icon {
    color: #000;
}

.feedback_form_category_item.active {
    border-color: #000;
    background-color: #ddd;
}

.center-cropped {
    width: 240px;
    /* min-width: 160px;*/
    height: 240px;
    padding: 0 0 0 20px;
    /*object-fit: cover;  <-- croppes the image in*/
    object-fit: scale-down;
    object-position: center;
    background-position: center center;
    background-repeat: no-repeat;
}

.center-cropped-details-page {
    width: 300px;
    /* min-width: 160px;*/
    height: 300px;
    padding: 10px;
    /*object-fit: cover;  <-- croppes the image in*/
    object-fit: scale-down;
    object-position: center;
    background-position: center center;
    background-repeat: no-repeat;
}

.feedback_list_details {
    /* width: 160px;*/
    height: 240px;
    padding: 10px;

}

.feedback_list_content {
    padding: 10px;
    /*height: 240px;*/

}

.feedback_list_content_desc p {
    overflow: hidden;
}

.feedback_list_img {
    padding: 0 15px 0 0;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: #ddd;

}

.feedback_list_row {
    border-radius: 4px;
    box-shadow: 1px 1px 3px 1px #aaa;
    margin: 2em;
    border-color: #ddd;
    padding-bottom: 20px;
    padding-top: 20px;
}

.feedback_list_filters label {

}

/* Color for item under mouse in category selection */
.feedback_form_category_item:hover {
    background-color: #eee
}

.category_icon {
    color: #777;
    font-size: 5em;
}

.active .category_icon {
    color: #000;
}

.feedback_form_category_item.active {
    border-color: #000;
    background-color: #ddd;
}

.main_footer {
    margin-top: 30px;
    padding: 15px;
    color: #9d9d9d;
    background-color: #333;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;

}

@media (min-width: 992px) {

    .main_footer {
        bottom: 0;
    }
    .shadow {
        min-height: 160px;
    }

    .feedback_list_details {
        border-left-style: solid;
        border-left-width: 1px;
        border-color: #ddd;
    }

    .feedback_list_date_picker {
        margin-left: 30px;
    }


}
.report-well {
    min-width: 280px;
    width: 55%;
    border-color: transparent;
    margin-top: -280px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(35, 35, 35, 0.8);
}

.report-well h2 {
    padding-bottom: 0;
    padding-top: 0;
    color: #ddd;
}

@media (max-width: 767px) {
    .report-well h2 {
        font-size: 20px;
    }
}

#banner-link {
    padding: 20px;
    color: #ddd;
}

#banner-button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}

.report-well a p {
    font-size: 18px;
    text-decoration: solid;
    padding-left: 10px;
}

.feedback_list_title:hover {
    text-decoration: none;
}

.feedback_list_filter {
    margin: 2em;
    border-color: #ddd;
    padding-bottom: 20px;
    padding-top: 20px;
}

.feedback_list_date_picker {
    padding-left: 30px;
    padding-right: 30px;
}

.feedback_list_filter_button {
    margin-top: 25px;
}

.feedback_list_filter_well {
    margin-top: 25px;
}