/* Enough space for navbar. */

body {
    padding-top: 60px;
}

.feedback_list_item {
    margin: 2em;
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #ddd
}

.feedback_list_vote_icon {
    font-size: 2em;
    vertical-align: middle;
    color: #fb0;
}

.feedback_list_vote_icon:hover {
    color: #e90;
}

.feedback_list_vote_badge {
    background-color: #68d;
}

#banner-photo {
    width: 100%;
    height: 300px;
}

.info-icon {
    font-size: 4em;
}

.short-feedback-box, .short-feedback-box-with-image {
    border-color: #aaa;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 0.5em;
    height: 200px;
    margin-top: 20px;
}

#info-row {
    margin-top: 3em;
}

#info-row h3 {
    margin-top: 0.1em;
}

#map {
    height: 400px;
    width: 100%;
}

.center-cropped {
    width: 240px;
    min-width: 160px;
    height: 240px;
    padding: 10px;
    box-shadow: 1px 1px 3px 1px #aaa;
    /*object-fit: cover;  <-- croppes the image in*/
    object-fit: scale-down;
    object-position: center;
    background-position: center center;
    background-repeat: no-repeat;
}

.feedback_list_details {
    width: 160px;
    height: 240px;
    box-shadow: 1px 1px 3px 1px #aaa;
    padding: 10px;
}

.feedback_list_content {
    padding: 10px;
    margin-right: 20px;
    height: 240px;
    box-shadow: 1px 1px 3px 1px #aaa;
}

.feedback_list_img {
    padding: 0 15px 0 0;
}

.popover {
    box-shadow: 1px 1px 3px 1px #aaa;
    border-radius: 0;
    top: -150px !important;
    left: 165px !important;
}
.arrow {
    top: 70% !important;
}

.popover-title {
    text-align: center;
    color: blue;
    font-size: 16px;
}

.popover-content {
    color: red;
    font-size: 10px;
}

/* Color for item under mouse in category selection */
.feedback_form_category_item:hover {
	background-color: #eee
}

.category_icon {
	color: #777;
	font-size: 5em;
}
.active .category_icon {
	color: #000;
}

.feedback_form_category_item.active {
	border-color: #000;
	background-color: #ddd;
}