#banner-button {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

#banner-link {
    color: #ddd;
    padding: 20px;
}

#banner-photo {
    background: no-repeat center center;
    height: 300px;
    object-fit: cover;
    object-position: 50% 20%;
    top: 50px;
    width: 100%;
}

#char_counter {
    margin-bottom: 20px;
}

#feedback_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#heatmap {
    height: 500px;
    margin-top: 1%;
    width: auto;
}

#info-row {
    margin-top: 1.5em;
}

#info-row h3 {
    margin-top: .1em;
}

#sidebar-wrapper {
    -moz-transition: all .5s ease-in 0s;
    -ms-transition: all .5s ease-in 0s;
    -o-transition: all .5s ease-in 0s;
    -webkit-transition: all .5s ease-in 0s;
    background: #222;
    color: #9d9d9d;
    height: 100%;
    left: -300px;
    margin-left: 0;
    overflow-y: auto;
    padding: 8px 20px;
    position: fixed;
    transition: all .5s ease-in 0s;
    width: 300px;
    z-index: 2;
}

#sidebar-wrapper.toggled {
    -moz-transition: all .5s ease-in 0s;
    -ms-transition: all .5s ease-in 0s;
    -o-transition: all .5s ease-in 0s;
    -webkit-transition: all .5s ease-in 0s;
    left: 0;
    transition: all .5s ease-in 0s;
    width: 300px;
}

/* --- Sidebar --- */
#toggleButtonContainer {
    -moz-transition: all .5s ease-in 0s;
    -ms-transition: all .5s ease-in 0s;
    -o-transition: all .5s ease-in 0s;
    -webkit-transition: all .5s ease-in 0s;
    left: 300px;
    position: absolute;
    top: 100px;
    transition: all .5s ease-in 0s;
    z-index: 2;
}

#toggleButtonContainer.toggled {
    -moz-transition: all .5s ease-in 0s;
    -ms-transition: all .5s ease-in 0s;
    -o-transition: all .5s ease-in 0s;
    -webkit-transition: all .5s ease-in 0s;
    left: 0;
    transition: all .5s ease-in 0s;
}

#toggleButton {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.banner-well {
    background: rgba(35, 35, 35, 0.8);
    border-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -280px;
    min-width: 295px;
    width: 55%;
}

.banner-well a p {
    font-size: 18px;
    padding-left: 10px;
    text-decoration: solid;
}

.banner-well h2 {
    color: #ddd;
    padding-bottom: 0;
    padding-top: 0;
}

.calendar #datepicker-start, .calendar #datepicker-end {
    margin-left: 5px;
    padding: 0 10px;
}

.center-cropped {
    background: no-repeat center center;
    height: 240px;
    object-fit: scale-down;
    object-position: center;
    padding: 0 0 0 20px;
    width: 240px;
}

.center-cropped-details-page {
    background: no-repeat center center;
    height: 280px;
    object-fit: scale-down;
    object-position: center;
    padding: 10px;
    width: 280px;
}

/* css to customize Leaflet default styles  */
.custom .leaflet-popup-content-wrapper {
    max-height: 250px;
    min-height: 220px;
    overflow-y: auto;
    width: 300px;
}

.custom .leaflet-popup-content-wrapper a {
    color: #fff;
    text-decoration: underline;
}

.custom .leaflet-popup-tip, .custom .leaflet-popup-content-wrapper {
    background: #0072C6;
    color: #fff;
}

.feedback_form_category_item {
    box-shadow: 1px 1px 3px 1px #aaa;
    color: #777;
    font-size: 5.0em;
    height: 145px;
    line-height: 0.8em;
    padding: 15px 5px;
}

.feedback_form_category_item.active {
    background: #ddd;
    border-color: #000;
    color: #337ab7;
}

/* Color for item under mouse in category selection */
.feedback_form_category_item:hover {
    background: #eee;
}

.feedback_list_content {
    padding: 15px;
}

.feedback_list_content_desc p {
    overflow: hidden;
}

.feedback_list_date_picker {
    padding-left: 30px;
    padding-right: 30px;
}

.feedback_list_filter {
    border-color: #ddd;
    margin: 0 2em;
}

.feedback_list_filter_button, .feedback_list_filter_well {
    margin-top: 25px;
}

.feedback_list_icons {
    margin-bottom: 10px;
}

.feedback_list_img {
    border-color: #ddd;
    border-right-style: solid;
    border-right-width: 1px;
    padding: 0 15px 0 0;
}

.feedback_list_row {
    border-color: #ddd;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 1px #aaa;
    margin: 2em;
    padding-bottom: 20px;
    padding-top: 20px;
}

.feedback_list_share {
    font-size: 1.5em;
    padding: 5px 10px;
    top: 7px;
}

.feedback_list_title:hover {
    text-decoration: none;
}

.feedback_list_vote_badge {
    background: #68d;
    font-size: 1.5em;
    padding: 5px 10px;
}

.feedback_list_vote_icon {
    background: #68d;
    border-radius: 10px;
    color: #FFF;
    font-size: 1.5em;
    margin-left: 0;
    padding: 5px;
    vertical-align: middle;
}

.feedback_list_vote_icon:hover {
    color: #57c;
    cursor: pointer;
}

.icon_disabled, .icon_disabled:hover{
    color: #8ae;
}

.feedback_title, .feedback_form_category_title {
    font-weight: 700;
}

.info-icon {
    font-size: 4em;
}

.main-icon {
    margin-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.main_footer {
    background: #333;
    color: #9d9d9d;
    left: 0;
    margin-top: 75px;
    padding: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.map-feedback-details {
    margin-left: auto;
    margin-right: auto;
    height: 280px;
    width: 280px;
}

.map-form {
    height: calc(100vh - 240px);
    width: 100%;
    z-index: 1;
}

.map-main {
    height: calc(100vh - 51px);
    width: 100%;
    z-index: 1;
}

.map-legend {
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 5px;
}

.map-legend i {
    width: 13px;
    height: 13px;
    float: left;
    margin-top: 2px;
    margin-right: 8px;
    opacity: 0.8;
}

.nowrap {
    white-space: nowrap;
}

/* TODO Make styling not change native bootstrap code for accordion*/
.panel-default {
    border-color: #FFF;
}

.panel-default > .feedback_list_accordion_panel_heading {
    background: #FFF;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #FFF;
}

/* ^accordion^ */

.shadow {
    border-radius: 4px;
    box-shadow: 0 1px 3px 1px #E0E0E0;
    min-height: 120px;
    padding: 0 15px 15px;
}

.short-feedback-box-with-image {
    padding: .5em;
}

.short-img {
    height: 120px;
    margin: 0 auto;
}

.short-text {
    color: #333;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.short-text h4 {
    font-weight: 700;
    margin-bottom: 10px;
}

.sidebar-element {
    padding: 0 10px 10px;
    width: 280px;
}

.table-stage {
    border-radius: 4px;
    box-shadow: 1px 1px 3px 1px #aaa;
    margin-bottom: 20px;
    margin-top: 20px;
}

.table-stage > thead > tr > th {
    border-bottom: 0 #FFF;
    color: darkgrey;
}

.toggle-switch {
    text-align: right;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: Lato, sans-serif !important;
    margin: 0 0 200px;
    min-height: 100%;
    padding-top: 51px;
}

html {
    min-height: 100%;
    position: relative;
}

@media (max-width: 991px) {
    #banner-photo {
        height: 200px;
    }

    .banner-well {
        margin-top: -180px;
    }

    .banner-well h2 {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .feedback_list_icons {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }

    .feedback_list_img, .center-cropped {
        border-color: transparent;
        border-right-style: none;
        border-right-width: 0;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
    }

    .feedback_list_row {
        margin-left: auto;
        margin-right: auto;
        width: 86vw;
    }

    .feedback_list_icons {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-right: 20px;
    }
}

@media (min-width: 576px) {
    .feedback_list_details {
        border-color: #ddd;
        border-left-style: solid;
        border-left-width: 1px;
        /*height: 240px;*/
        padding: 10px;
    }

    .main_footer {
        bottom: 0;
    }

    .shadow {
        min-height: 160px;
    }
}

@media (min-width: 992px) {
    .feedback-details-sidebar {
        padding: 40px;
    }
}

@media (max-width: 400px) {
    #char_counter {
        margin-left: 20px;
    }

    #sidebar-wrapper {
        left: -100vw;
        width: 100vw;
    }

    #sidebar-wrapper.toggled {
        left: 0;
        width: 100vw;
    }

    #stage1, #stage2, #stage3, #stage4, #stage5 {
        font-size: 10px;
    }

    #toggleButtonContainer {
        left: calc(100vw - 40px);
        top: 60px;
        width: 40px;
    }

    #toggleButtonContainer.toggled {
        left: 0;
    }

    .center-cropped {
        height: 220px;
        width: 220px;
    }

    .feedback_form_category_title {
        font-size: 14px;
    }

    .feedback_list_date_picker #datepicker-start, .feedback_list_date_picker #datepicker-end {
        margin-left: -10px;
        width: 60vw;
    }

    .feedback_list_row {
        margin-left: auto;
        margin-right: auto;
    }

    .sidebar-element {
        width: 240px;
    }

    .toggle-switch {
        data-width: 80;
        padding-right: 80px;
    }

    .statistic_table {
        font-size: 8px;
    }
}

.navbar-active-link {
    background-color: #333;
}

@media (max-height: 500px) {
    body {
        margin: 0 0 250px;
    }
}