<div class="row">
	{% for category in categories %}
	<a href="#">
		<div class="col-xs-6 col-sm-4">
			<div class="thumbnail">
				<!-- <img src="{{category.src}}" alt="{{category.alt}}"> -->
				<div class="text-center">
					<span class="glyphicon {{category.glyphicon}} text-center" style="font-size: 5em;"></span>
				</div>
				<h4 class="text-center">{{category.name}}</h4>
				<div class="caption">
					<!-- <p>{{category.description}}</p> -->
				</div>
			</div>
		</div>
	</a>
	{% endfor %}
</div>