<div class="row">
	{% for category in categories %}
        <div class="col-xs-6 col-sm-3">
		<div class="thumbnail feedback_form_category_item" data-service-code="{{category.service_code}}" id="{{forloop.counter0}}">
			<!-- <img src="{{category.src}}" alt="{{category.alt}}"> -->
			<div class="text-center">
				<span class="glyphicon {{category.glyphicon}} text-center category_icon"></span>
			</div>
            <h4 class="text-center category_title text-muted">{{ category.name }}</h4>
			<div class="caption">
				<!-- <p>{{category.description}}</p> -->
			</div>
		</div>
	</div>
	{% endfor %}
</div>