{% extends 'base.html' %}
{% block content %}
    {% include 'feedback_form/stagebar.html' with stage=wizard.steps.step1 %}
    {% include "feedback_form/category_list.html" %}
    <form method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {{ form.service_code }}
        <div class="form-group">
            <div class="row">

                <!-- TODO This button needs functionality for going back -->
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary pull-left" value="{{ wizard.steps.prev }}" name="wizard_goto_step">Edellinen <span
                            class="glyphicon glyphicon-triangle-left"></span></button>
                </div>

                <div class="col-sm-offset-8 col-sm-2">
                    <button type="submit" class="btn btn-primary pull-right">Seuraava <span
                            class="glyphicon glyphicon-triangle-right"></span></button>
                </div>
            </div>
        </div>
    </form>

    <script>
        var selected = null;
        $(function () {
            $(".feedback_form_category_item").click(item_clicked);
            code = $("#{{form.service_code.id_for_label}}").val();
            // Populate, if we returned here from the next wizard step
            if(code) {
                selected = $("div[data-service-code='"+code+"']");
                activate(selected);
            }
        });

        function item_clicked(event) {
            $("#{{form.service_code.id_for_label}}").val($(this).attr("data-service-code"));
            activate($(this));
        }

        function activate(item) {
           if (selected) {
               $(selected).removeClass("active");
           }
           selected = item;
           item.addClass("active"); 
        }
    </script>
    {% include 'footer.html' %}
{% endblock %}