{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="{% static 'utils/leaflet.markercluster-src.js' %}"></script>
    <link rel="stylesheet" href="{% static 'utils/MarkerCluster.css' %}" />
    <link rel="stylesheet" href="{% static 'utils/MarkerCluster.Default.css' %}" />
    <script type="text/javascript" src="{% static 'utils/proj4-compressed.js' %}"></script>
    <script type="text/javascript" src="{% static 'utils/proj4leaflet.js' %}"></script>
    <link rel="stylesheet" href="{% static 'utils/easy-button.css' %}"/>
    <script type="text/javascript" src="{% static 'utils/easy-button.js' %}"></script>

{% endblock %}

{% block content %}

    {% include 'feedback_form/stagebar.html' with stage=wizard.steps.step1 %}
    <form method="post" id="location">
        {% csrf_token %}
        {{ wizard.management_form }}

        {{ form.latitude }}
        {{ form.longitude }}
        {{ form.service_object_id }}

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div id="map" class="map-form"></div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">
                    <label for="service_selector" class="hidden-xs">Liittyy kohteeseen:</label>
                </div>
                <div class="col-sm-9">
                    <select name="service_object_id" class="form-control" id="service_object_select"></select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-offset-10 col-sm-2">
                    <button type="submit" id="service_selector" class="btn btn-primary pull-right">Seuraava <span class="glyphicon glyphicon-triangle-right"></span></button>
                </div>
            </div>
        </div>
    </form>

    <script src="{% static 'utils/Leaflet.MakiMarkers.js' %}"></script>
    <script src="{% static 'map.js' %}"></script>
    <script>
        $("body").css("margin", 0);
        map.setZoom(13);
        var userLocation = new L.marker(map.getCenter(), {icon: center_icon}).addTo(map);
        storeLocation(userLocation.getLatLng());

        // Provide initial list - if the user doesn't allow geolocating
        fetch_service_objects(userLocation.getLatLng());

        map.on('move', function (e) {
            userLocation.setLatLng(map.getCenter());
            storeLocation(userLocation.getLatLng());
        });

        map.on("moveend", function (event) {
            fetch_service_objects(userLocation.getLatLng())
        });

        $("#location").submit(function (event){
            // Assign the selected service_object_id to form
            var service_object_id = $("#service_object_select").val();
            $("#{{form.service_object_id.id_for_label}}").val(service_object_id);
        });

        // Populate the list by nearby service objects. Only shows max 20 (the 1st page)
        function fetch_service_objects(location) {
            var data = {
                "only": "name",
                "lat": location.lat,
                "lon": location.lng,
                "distance": 300
            };
            var url = "http://api.hel.fi/servicemap/v1/unit/";
            $.get(url, data, function (data) {
                $("#service_object_select").empty();
                $("#service_object_select").append("<option value=''>Voit valita listalta...</option>");
                $.each(data.results, function (index, value) {
                    var option = $("<option>", {value: value.id});
                    $(option).text(value.name.fi);
                    $("#service_object_select").append(option);
                });
            });
        }

        function getUserLocation(e) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var newLocation = L.latLng(position.coords.latitude, position.coords.longitude);
                    userLocation.setLatLng(newLocation);
                    storeLocation(newLocation);
                    map.panTo(newLocation);
                }.bind(this));
            }
            else {
                console.error("Geolocation is not supported by this browser.");
            }
        }

        function updateMarker(e) {
            if (typeof(userLocation) === 'undefined') {
                userLocation = new L.marker(e.latlng).addTo(map);
                map.panTo(e.latlng);
                storeLocation(e.latlng);
            }
            else {
                userLocation.setLatLng(e.latlng);
                map.panTo(e.latlng);
                storeLocation(e.latlng)
            }
        }

        function storeLocation(latlng) {
            $("#{{ form.latitude.id_for_label }}").val(latlng.lat);
            $("#{{ form.longitude.id_for_label }}").val(latlng.lng);
        }
    </script>

    <script type="text/javascript">
        $(function () {
            enable_voting("{{csrf_token}}", "{% url 'vote_feedback' %}");
        });
    </script>

    <script type="text/javascript" src="{% static 'utils/enable_voting.js' %}"></script>
{% endblock %}