{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

{% endblock %}

{% block content %}

{% include 'feedback_form/stagebar.html' with stage=wizard.steps.step1 %}
<form method="post">
    {% csrf_token %}
    {{ wizard.management_form }}

    {{ form.latitude }}
    {{ form.longitude }}

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">
                    <button type="button" class="btn btn-block btn-success" onclick="getUserLocation()">
                    <span class="glyphicon glyphicon-map-marker"></span>
                        Oma sijainti
                    </button>
                </div>

                <div class="col-md-8">

                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-block btn-primary">
                        Seuraava
                        <span class="glyphicon glyphicon-triangle-right"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9" style="padding-top: 20px">
                    <div id="map"></div>
                </div>
                <div id="feedback_info" class="col-md-3" style="visibility: hidden">
                    <h3 id="feedback_title"></h3>
                    <p>
                        <img id="feedback_image" class="img-thumbnail img-responsive center-cropped"
                             src="https://placehold.it/240x240"/>
                    </p>
                    <p id="feedback_service_name"></p>
                    <p id="feedback_requested_datetime"> date</p>
                    <p id="feedback_description"></p>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="{% static 'Leaflet.MakiMarkers.js' %}"></script>

<script>
    "use strict";

    var HelsinkiCoord = {lat: 60.17067, lng: 24.94152};

    var map = L.map('map').setView([HelsinkiCoord.lat, HelsinkiCoord.lng], 14);

    L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
        maxZoom: 18,
    }).addTo(map);

    var center_icon = L.MakiMarkers.icon({icon: "circle", color: "#62c462", size: "l"});
    var feedback_icon = L.MakiMarkers.icon({icon: "circle", color: "#FFC61E", size: "m"});

    map.on('click', updateMarker);

    var userLocation = new L.marker([HelsinkiCoord.lat, HelsinkiCoord.lng], {icon: center_icon}).addTo(map);
    storeLocation(userLocation.getLatLng());

    function getUserLocation(e) {
        console.log("getUserLocation");
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var newLocation = L.latLng(position.coords.latitude, position.coords.longitude);
                userLocation.setLatLng(newLocation);
                storeLocation(newLocation);
                map.panTo(newLocation);
            }.bind(this));
        }
        else {
            console.error("Geolocation is not supported by this browser.");
        }
    }

    function updateMarker(e) {
        if (typeof(userLocation) === 'undefined') {
            userLocation = new L.marker(e.latlng).addTo(map);
            map.panTo(e.latlng);
            storeLocation(e.latlng);
        }
        else {
            userLocation.setLatLng(e.latlng);
            map.panTo(e.latlng);
            storeLocation(e.latlng)
        }
    }

    // TODO: Change to use {{form.latitude.id_for_label}} instead #id.
    function storeLocation(latlng) {
        $("#{{ form.latitude.id_for_label }}").val(latlng.lat);
        $("#{{ form.longitude.id_for_label }}").val(latlng.lng);
    }

    $.getJSON("/api/v1/feedbacks?status=open", function (data) {
        var items = [];
        $.each(data, function (key, feedback) {
            var marker = L.marker([feedback.lat, feedback.long]).addTo(map);
            marker.feedback = feedback;
            marker.on('click', function(e) {
                $('#feedback_title').text(e.target.feedback.title);
                $('#feedback_service_name').text(e.target.feedback.service_name);
                $('#feedback_requested_datetime').text(e.target.feedback.requested_datetime);
                $('#feedback_description').text(e.target.feedback.description);
                $('#feedback_info').css("visibility", "visible");
            });
        });

        $("<ul/>", {
            "class": "my-new-list",
            html: items.join("")
        }).appendTo("body");
    });
</script>
{% endblock %}