{% extends 'base.html' %}
{% block content %}
	{% include 'feedback_form/stagebar.html' with stage=wizard.steps.step1%}
	<form method="post" class="form-horizontal">
		{% csrf_token %}
		{{ wizard.management_form }}
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-8">
				<h4>Voit halutessasi antaa myös yhteystietosi</h4>
				<span>Saatamme lähettää tietoa palautteesi etenemisestä.</span>
			</div>
		</div>
		<div class="form-group">
			<label for="{{form.first_name.id_for_label}}" class="col-sm-2 control-label">Etunimi:</label>
			<div class="col-sm-8">
				{{form.first_name}}
			</div>
		</div>
		<div class="form-group">
			<label for="{{form.last_name.id_for_label}}" class="col-sm-2 control-label">Sukunimi:</label>
			<div class="col-sm-8">
				{{form.last_name}}
			</div>
		</div>
		<div class="form-group">
			<label for="{{form.email.id_for_label}}" class="col-sm-2 control-label">Sähköposti:</label>
			<div class="col-sm-8">
				{{form.email}}
			</div>
			<div class="col-sm-8 col-sm-offset-2" style="color:red" id="email_error">
			</div>
		</div>
		<div class="form-group">
			<label for="{{form.phone.id_for_label}}" class="col-sm-2 control-label">Puhelin:</label>
			<div class="col-sm-8">
				{{form.phone}}
			</div>
		</div>
		<div class="form-group">
	        <div class="col-sm-offset-2 col-sm-2">
						<button type="submit" class="btn btn-primary pull-left" value="{{ wizard.steps.prev }}" name="wizard_goto_step">
							<span class="glyphicon glyphicon-triangle-left pull-left"></span>Edellinen</button>
	        </div>
	        <div class="col-sm-offset-4 col-sm-2">
	            <button type="submit" class="btn btn-primary pull-right">Lähetä
								<span class="glyphicon glyphicon-triangle-right"></span></button>
	        </div>
		</div>
	</form>
    {% include 'footer.html' %}

<script type="text/javascript">
$(function () {
	var errors = '{{form.email.errors}}';
	if(errors) {
	    $("#{{form.email.id_for_label}}").addClass("alert-danger");
	    $("#email_error").text("Tarkista sähköpostiosoitteesi!");
	}

	$("#{{form.email.id_for_label}}").on("input", function () {
	    $(this).removeClass("alert-danger");
	});
});
</script>
{% endblock %}
