<table class="table" border="1">
	<thead>
		<tr>
			<th class="text-center col-xs-2" id="stage1">Sijainti</th>
			<th class="text-center col-xs-2" id="stage2">Aihe</th>
			<th class="text-center col-xs-2" id="stage3">Palaute</th>
			<th class="text-center col-xs-2" id="stage4">Yhteystiedot</th>
			<th class="text-center col-xs-2" id="stage5">Valmis</th>
		</tr>
	</thead>
</table>
<script>
$(function () {
	var stage = "#stage" + {{stage}};
	$(stage).css("background-color","lightgrey");
});
</script>