<table class="table table-stage">
	<thead>
		<tr>
			<th class="text-center col-xs-2" id="stage1">Sijainti</th>
			<th class="text-center col-xs-2" id="stage2">Aihe</th>
			<th class="text-center col-xs-2" id="stage3">Palaute</th>
			<th class="text-center col-xs-2" id="stage4">Yhteystiedot</th>
		</tr>
	</thead>
</table>

<script>
$(function () {
	var stage = "#stage" + {{stage}};
	$(stage).css({ "background-color": "#337ab7", "color": "white" });
	$(stage).prevAll().css({ "color": "black" });
});
</script>
