{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <script type="text/javascript" src="{% static 'utils/dropzone.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'utils/dropzone.css' %}">
{% endblock %}

{% block content %}
    {% include 'feedback_form/stagebar.html' with stage=wizard.steps.step1 %}
    <form method="post" id="main_form" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {{ wizard.management_form }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <h4>Anna mahdollisimman tarkat tiedot</h4>
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}" class="col-sm-2 control-label">Otsikko:</label>
            <div class="col-sm-8">
                {{ form.title }}
            </div>
            {% for error in form.title.errors %}
                <div class="col-sm-offset-2 col-sm-8">
                    {% if error == "This field is required." %}
                        <span class="alert-danger">Tämä kenttä on pakollinen!</span>
                    {% else %}
                        {{error}}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="{{ form.description.id_for_label }}" class="col-sm-2 control-label">Kuvaus:</label>
            <div class="col-sm-8">
                {{ form.description }}
            </div>
            {% for error in form.description.errors %}
                <div class="col-sm-offset-2 col-sm-8">
                    {% if error == "This field is required." %}
                        <span class="alert-danger">Tämä kenttä on pakollinen!</span>
                    {% else %}
                        {{error}}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6 col-xs-6" id="char_counter"><span>5000 merkkiä jäljellä</span></div>
        </div>
        {{ form.form_id }}
    </form>

    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <h4>Voit liittää kuvan palautteeseesi</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <form class="dropzone" action="{% url 'media_upload' %}" id="dropzone">
                {% csrf_token %}
                <input type=hidden name="form_id" value="{{ form_id }}">
            </form>
        </div>
    </div>

    <div class="row" style="margin-top: 1em;">
        <div class="col-sm-offset-2 col-sm-2">
            <button type="button" id="previous" class="btn btn-primary pull-left" value="{{ wizard.steps.prev }}" name="wizard_goto_step">Edellinen <span class="glyphicon glyphicon-triangle-left"></span></button>
        </div>

        <div class="col-sm-offset-4 col-sm-2">
            <button type="button" id="next" class="btn btn-primary pull-right">Seuraava <span class="glyphicon glyphicon-triangle-right"></span></button>
        </div>
    </div>

    <script>
        $(function () {
            // Bind functionality to prev/next buttons. They are outside the form for layout purposes
            $("#next").click(function () {
                $("#main_form").submit();
            });

            $("#previous").click(function () {
                $('#main_form').append('<input type="hidden" name="wizard_goto_step" value="{{ wizard.steps.prev }}" />');
                $("#main_form").submit();
            });

            // Display how many characters left until 5000
            var charfunc = function() {
              var text_length = $('#{{form.description.id_for_label}}').val().length;
              var text_remaining = 5000 - text_length;
              $('#char_counter').text(text_remaining + " merkkiä jäljellä");
            };
            // The function is called whenever the page has loaded or something is being written
            $(document).ready(charfunc);
            $("#{{form.description.id_for_label}}").keyup(charfunc);

            // If first time in this step, assign a new form_id. Otherwise use previous
            form_id = "{{form.form_id.value|default_if_none:''}}";
            if(form_id === "")
                form_id = "{{form_id}}";

            $("#{{form.form_id.id_for_label}}").attr("value", form_id);
            $("input[name='form_id']").attr("value", form_id);

            // Initialize dropzone
            Dropzone.options.dropzone = {
                url: "{% url 'media_upload' %}",
                maxFilesize: 10,
                maxFiles: 3,
                acceptedFiles: "image/*",
                init: function () {
                    // Disable next button during file upload
                    this.on("addedfile", function (file) {
                        $("#next_button").prop("disabled", true);
                    });
                    // Enable next after all uploads are complete
                    // Also add unique id to form
                    this.on("queuecomplete", function (file) {
                        $("#next_button").prop("disabled", false);
                    });
                }
            };

            // Populate Dropzone if user already has uploaded some images
            data = {"form_id": form_id, "csrfmiddlewaretoken": "{{csrf_token}}"};
            $.post("{% url 'media_upload' %}", data, function (data) {
                $.each(data.files, function(index, element) {
                    var myDropzone = Dropzone.forElement("#dropzone");
                    var mockFile = { name: "Filename", size: 12345 };
                    url = "/media/" + element;
                    myDropzone.emit("addedfile", mockFile);
                    myDropzone.createThumbnailFromUrl(mockFile, url);
                    myDropzone.emit("complete", mockFile);
                    myDropzone.options.maxFiles = myDropzone.options.maxFiles - 1;
                });
            });
        });
    </script>
    {% include 'footer.html' %}
{% endblock %}
