{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
{% endblock %}

{% block content %}

{% include 'feedback_form/stagebar.html' with stage=wizard.steps.step1 %}
<form method="post">
{% csrf_token %}
{{ wizard.management_form }}
	{{ form.latitude }}
	{{ form.longitude }}
	<div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10">
					{{ form.address }}
				</div>
				<div class="col-md-2">
					<button type="submit" class="btn btn-block btn-primary">
					Next
					<span class="glyphicon glyphicon-triangle-right"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
<div id="map"></div>

<script>
"use strict";

var HelsinkiCoord = {lat: 60.17067, lng: 24.94152};

var map = L.map('map').setView([HelsinkiCoord.lat, HelsinkiCoord.lng], 14);

L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
    maxZoom: 18,
}).addTo(map);

map.on('click', updateMarker);

var userLocation = new L.marker([HelsinkiCoord.lat, HelsinkiCoord.lng]).addTo(map);
storeLocation(userLocation.getLatLng());

function updateMarker(e){
    if ( typeof(userLocation) === 'undefined' )
	{
    	userLocation = new L.marker(e.latlng).addTo(map);
    	map.panTo(e.latlng);
    	storeLocation(e.latlng);
    }
    else 
	{
		userLocation.setLatLng(e.latlng); 
		map.panTo(e.latlng);
		storeLocation(e.latlng)       
	}
}

function storeLocation(latlng) {
	$("#id_location-latitude").val(latlng.lat);
	$("#id_location-longitude").val(latlng.lng);
}
</script>
{% endblock %}