{% extends 'base.html' %}
{% block content %}
{% include 'feedback_form/stagebar.html' with stage=wizard.steps.step1%}
<form method="post" class="form-horizontal" enctype="multipart/form-data">
{% csrf_token %}
{{ wizard.management_form }}
	<div class="form-group">
		<label for="{{form.title.id_for_label}}" class="col-sm-2 control-label">Otsikko:</label>
		<div class="col-sm-8">
			{{form.title}}
		</div>
	</div>
	<div class="form-group">
		<label for="{{form.description.id_for_label}}" class="col-sm-2 control-label">Kuvaus:</label>
		<div class="col-sm-8">
			{{form.description}}
		</div>
	</div>
	<div class="form-group">
		<label for="{{form.image.id_for_label}}" class="col-sm-2 control-label">Liitä kuva:</label>
		<div class="col-sm-8">
			{{form.attachments}}
		</div>
		<span class="col-sm-4 col-sm-offset-2 col-xs-6 col-xs-offset-4 text-right" id="char_counter">5000 merkkiä jäljellä</span>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-8 col-sm-2">
			<button type="submit" class="btn btn-primary pull-right">Seuraava <span class="glyphicon glyphicon-triangle-right"></span></button>
		</div>
	</div>
</form>
{{form.errors}}
<script>
$("#{{form.description.id_for_label}}").keyup(function() {
  var text_length = $('#{{form.description.id_for_label}}').val().length;
  var text_remaining = 5000 - text_length;
  
  $('#char_counter').text(text_remaining + " merkkiä jäljellä");
});
</script>
{% endblock %}