{% extends "base.html" %}
{% block content %}
<div id="topics">
  <h1>Tietoja sivustosta</h1>
  <h2>Mikä tämä on?</h2>
    <p>City Feedback Hub on sivusto, joka kokoaa yhteen Helsingin kaupungin palautepalvelut. Sivustolla voit selata palautteita, katsoa tilastoja niistä tai lähettää palautetta itse. Palvelun on toteuttanut ryhmä Aalto-yliopiston opiskelijoita kurssityönään. Lisätietoja projektista saa tekijäryhmän omilta sivuilta: <a href="http://hep7agon.herokuapp.com/">Hep7agon</a>.</p>
  <h2>Miksi tämä on?</h2>
    <p>City Feedback Hub -palvelun tarkoituksena on tuoda kaupunkilaisia ja vierailijoita lähemmäs Helsingin kaupunkia ja antaa helppo mahdollisuus vaikuttaa kaupungin asioihin. Käyttäjät pääsevät myös halutessaan näkemään tilastotietoja sekä karttoja kaupungin palautteista.</p>
  <h2>Miten tämä toimii?</h2>
  <h3>Palautteen antaminen</h3>
  <p>Sivustolla voit antaa palautetta Helsingin kaupungille esimerkiksi puistojen kunnosta tai opastekylteistä. Palautteet ohjataan eteenpäin asiaankuuluvalle taholle, joka käsittelee ne ja tarvittaessa ryhtyy toimenpiteisiin.</p>
  <h3>Tilastojen ja karttojen käyttö</h3>
  <p>On tilastoja ja kivoja karttoja, joissa näkyy palautekeskittymiä.</p>
</div>

    {% include 'footer.html' %}
{% endblock %}
