{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}City Feedback Hub{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment-with-locales.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-datetimepicker.min.css' %}" />
    <script src="{% static 'bootstrap-datetimepicker.min.js' %}"></script>
    <!-- Locale file for moment.js -->
    <!--<script src="{% static 'fi.js' %}"></script>-->
    {% block head %}
        <!-- Custom CDN and CSS links here for the HTML HEAD section -->
    {% endblock head %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <script src="{% static 'calendar.js' %}"></script>

    <!-- Load global defaults for bootstrap-notify plugin -->
    <link rel="stylesheet" href="{% static 'animate.css' %}"/>
    <script type="text/javascript" src="{% static 'bootstrap-notify.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'notify_defaults.js' %}"></script>
</head>
<body>
{% include "navbar.html" %} <!-- This block for special cases where full width is needed -->
{% block content-fluid %}
    <div class="container">
        {% block content %}
            <!-- NORMALLY USE THIS BLOCK -->
        {% endblock %}
    </div>
{% endblock %}
{% block footer %}
    <footer class="main_footer">
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>For the visitors</h4>
                        <a href="/instructions/"><p>How to use this site</p></a>
                        <a href="/instructions/"><p>Questions and answers</p></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>About the project</h4>
                        <a href="https://github.com/hep7agon/city-feedback-hub"><p>Contribute to project</p></a>
                        <a href="https://github.com/hep7agon/city-feedback-hub"><p>API documentation</p></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Partners</h4>
                        <a href="http://www.forumvirium.fi/"><p>Forum Virium</p></a>
                        <a href="http://6aika.fi/"><p>6city</p></a>
                        <a href="http://dev.hel.fi/"><p>Helsinki Loves Devs</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
</body>
</html>