{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Fix my Helsinki{% endblock %}</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
		{% block meta %}
		{% endblock meta %}
	</head>
	<body>
		{% include "navbar.html" %}
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>