{% extends "base.html" %}
{% load staticfiles %}
{% block head %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css"/>

{% endblock %}
{% block content %}
{%include "statistics_menu.html" with charts_active="active"%}
<h1>Palvelu Kaaviot</h1>
<div id="serviceStatistics" style="margin-top: 20px"></div>
<h1>Virasto Kaaviot</h1>
<div id="agencyStatistics" style="margin-top: 20px"></div>
<h1>Aika Kaaviot</h1>
<div id="timeStatistics" style="margin-top: 20px"></div>

<script>



    $.getJSON("/api/v1/statistics/services/", function (data) {
        var services = ['x'];
        var total = ['total'];
        var closed = ['closed'];
        var fixing_time_in_hours = ['Fixing Time In Hours'];


        $.each(data, function (key, item) {
            services.push(item.service_name);
            total.push(item.total);
            closed.push(item.closed);
            fixing_time_in_hours.push(Math.floor(item.median_sec/3600))
        });
        c3.generate({
            bindto: '#serviceStatistics',
            data: {
                x: 'x',
                columns: [
                    services,
                    total,
                    closed
                ],
                type: 'bar',
                labels: true

            },


            axis: {
                x: {
                    type: 'category' // this needed to load string x value
                }
            }

        });
        c3.generate({
            bindto: '#timeStatistics',
            data: {
                x: 'x',
                columns: [
                    services,
                    fixing_time_in_hours
                ],
                type: 'bar',
                labels: true
            },
            axis: {
                x: {
                    type: 'category' // this needed to load string x value
                }
            }
        });
    });

    $.getJSON("/api/v1/statistics/agencies/", function (data) {
        var agencies = ['x'];
        var total = ['total'];
        var closed = ['closed'];
        $.each(data, function (key, item) {
            if (key > 9) return;
            agencies.push(item.agency_responsible);
            total.push(item.total);
            closed.push(item.closed);
        });
        c3.generate({
            bindto: '#agencyStatistics',
            data: {
                x: 'x',
                columns: [
                    agencies,
                    total,
                    closed
                ],
                type: 'bar',
                labels: true
            },
            zoom: {
                enabled: true,
                rescale: true
                },

            axis: {
                x: {
                    type: 'category' // this needed to load string x value
                }
            }
        });
    });

</script>


{% include 'footer.html' %}
{% endblock %}