{% extends "base.html" %}
{% load staticfiles %}
{% block head %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css"/>

{% endblock %}
{% block content %}
{%include "statistics_menu.html" with charts_active="active"%}
    <div id="chart"></div>
     <div id="chartsecond"></div>
     <div id="piechart"></div>
    <div id="donut"></div>

    <script>





var chart = c3.generate({
    data: {
        columns: [
            ['x', 'Katujen kunto', 'Muu korjattava asia', 'Liikennemerkit', 'Ilkivalta'],
            ['data1', 30, 200, 100, 400, 150, 250],
            ['data2', 130, 100, 140, 200, 150, 50]
        ],
        type: 'bar'
    },
    bar: {
        width: {
            ratio: 0.5 // this makes bar width 50% of length between ticks
        }
        // or
        //width: 100 // this makes bar width 100px
    }
});



 var chart = c3.generate({
    bindto: '#chartsecond',
    data: {



        x : 'x',
        columns: [
            ['x', 'Katujen kunto', 'Muu korjattava asia', 'Liikennemerkit', 'Ilkivalta'],
            ['open', 30, 200, 100, 400],
              ['closed', 130, 100, 140, 200, 150, 50]

        ],
        groups: [
            ['number ']
        ],
        type: 'bar',
        labels:true
    },
    axis: {
        x: {
            type: 'category' // this needed to load string x value
        }
    }
});


    var chart = c3.generate({
    bindto:'#piechart' ,
    data: {
        // iris data from R
        columns: [
            ['data1', 30],
            ['data2', 120],
        ],
        type : 'pie',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
});

    var chart = c3.generate({
     bindto:'#donut' ,
    data: {
        columns: [
            ['data1', 30],
            ['data2', 120],
        ],
        type : 'donut',
        onclick: function (d, i) { console.log("onclick", d, i); },
        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
    },
    donut: {
        title: "number of cases"
    }
});



    </script>



{% include 'footer.html' %}
{% endblock %}