<form id="feedback-filter" method="GET" class="form-horizontal" enctype="multipart/form-data">

    <div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-3 feedback_list_filter_button">
        <div class="input-group">
            <span class="input-group-btn">
                 <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                         aria-expanded="false" aria-controls="collapseExample">
                    Rajaa hakua
                 </button>
            </span>
            <input type="text" class="form-control" name="search" id="search"
                   placeholder="Esim. polkupyörä, Annankatu, rakennusvirasto..."/>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" value="apply">Tee haku</button>
            </span>
        </div>
    </div><

    <div class="row feedback_list_filter">
        <div class="col-xs-12" style="padding-left: 0;padding-right: 0">
            <div class="collapse" id="collapseExample">
                <div class="well feedback_list_filter_well">
                    <div class="row">
                        <div class="col-sm-3 feedback_list_date_picker">
                            <label>Alku</label>
                            <div class="calendar form-group">
                                <div class='input-group date' id='datepicker-start'>
            						<span class="input-group-addon" style="cursor:pointer">
            							<span class="glyphicon glyphicon-calendar"></span>
            						</span>
                                    <input type='text' class="form-control" name="start_date"
                                           value="{{ queries.start_date }}"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 feedback_list_date_picker">
                            <label>Loppu</label>
                            <div class="calendar form-group">
                                <div class='input-group date' id='datepicker-end'>
            						<span class="input-group-addon" style="cursor:pointer">
            							<span class="glyphicon glyphicon-calendar"></span>
            						</span>
                                    <input type='text' class="form-control" name="end_date"
                                           value="{{ queries.end_date }}"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <label for="status">Tila</label>
                            <select class="form-control" name="status" id="status">
                                <option value="">Kaikki</option>
                                <option value="open">Avoimet</option>
                                <option value="closed">Suljetut</option>
                            </select>
                        </div>

                        <div class="col-sm-2">
                            <label for="service_code">Aihealue</label>
                            <select class="form-control" name="service_code" id="service_code">
                                <option value="">Kaikki</option>
                                {% for service in services %}
                                    <option value="{{ service.service_code }}">{{ service.service_name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-sm-2">
                            <label for="order_by">Järjestä</label>
                            <select class="form-control" name="order_by" id="order_by">
                                <option value="-requested_datetime">Luontihetki</option>
                                <option value="distance">Etäisyys</option>
                                <option value="-vote_counter">Äänet</option>
                            </select>
                        </div>

                        <!-- fields required for ordering by distance -->
                        <div>
                            <input type="hidden" name="lat" id="lat">
                            <input type="hidden" name="lon" id="lon">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-sm-2 col-xs-offset-4 hidden-sm hidden-md hidden-lg">
                            <button class="btn btn-primary" type="submit" value="apply">Tee haku</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    var status = "{{queries.status}}";
    var order_by = "{{queries.order_by}}";
    var service_code = "{{queries.service_code}}";
    var search = "{{queries.search}}";

    $("#status").val(status);
    $("#order_by").val(order_by);
    $("#service_code").val(service_code);
    $("#search").val(search);

    $("#feedback-filter").submit(function (event) {
        event.preventDefault();
        if ($("#order_by").val() === 'distance') {
            if (navigator.geolocation) {
                // console.log("getting geoloc");
                var that = this;
                navigator.geolocation.getCurrentPosition(function (position) {
                    $("#lat").val(position.coords.latitude);
                    $("#lon").val(position.coords.longitude);
                    that.submit();
                }, function () {
                    alert("Ordering by distance is not allowed with disabled geolocation");
                });
            } else {
                alert("Geolocation is not supported by this browser");
            }
        } else {
            this.submit();
        }
    });
</script>
