<div class="feedback_list_filters">
    <form role="form" id="feedback-filter" method="get" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-2 col-md-2">
                <label for="datepicker-start">Alku</label>
                <div class="calendar">
                    <div class="form-group">
                        <div class='input-group date' id='datepicker-start'>
						<span class="input-group-addon" style="cursor:pointer">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
                            <input type='text' class="form-control" name="datepicker-start"/>
                        </div>
                    </div>
                </div>

                <label for="datepicker-end">Loppu</label>
                <div class="calendar">
                    <div class="form-group">
                        <div class='input-group date' id='datepicker-end'>
						<span class="input-group-addon" style="cursor:pointer">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
                            <input type='text' class="form-control" name="datepicker-end"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-2 col-md-2">
                <div>
                    <label for="status">Tila</label>
                    <select class="form-control" name="status" id="status">
                        <option selected="selected" value="">Status</option>
                        <option value="open">Open</option>
                        <option value="closed">Closed</option>
                    </select>
                </div>
                <div>
                    <label for="order_by">Järjestä</label>
                    <select class="form-control" name="order_by" id="order_by">
                        <option value="requested_datetime">Creation datetime</option>
                        <option value="distance">Distance</option>
                        <option value="-vote_counter">Votes</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <label for="service_name">Aihealue</label>
                <select class="form-control" name="service_name" id="service_name">
                    <option selected="selected">Service name</option>
                    {% for service in services %}
                    <option value="{{service.service_code}}">{{ service.service_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-sm-5 col-md-5">
                <label for="description">Kuvaus</label>
                <input type="text" class="form-control" name="description" id="description" placeholder="Kuvaus"/>

                <button class="btn btn-primary" type="submit" value="apply">
                    Apply
                </button>
            </div>

            <div>
                <input type="text" name="lat" id="lat" style="display: none;"/>
                <input type="text" name="lon" id="lon" style="display: none;"/>
                <div>
                </div>
    </form>
</div>
<script type="text/javascript">

    function dateStrToIso(dateStr) {
        var dateParts = dateStr.split(".");
        date = new Date(dateParts[2], (dateParts[1] - 1), dateParts[0]);
        return date.toISOString();
    }

    $("#feedback-filter").submit(function (event) {
        event.preventDefault();

        if (navigator.geolocation) {
            var that = this;
            navigator.geolocation.getCurrentPosition(function (position) {
                $("#lat").val(position.coords.latitude);
                $("#lon").val(position.coords.longitude);

                that.submit();
            });
        } else if ($("$order_by").val() === 'distance') {
            alert("Ordering by distance is not allowed with disabled geolocation API");
            return;
        } else {
            this.submit();
        }
    });
</script>
