<div class="feedback_list_filters">	
<form role="form" method="get" class="form-horizontal" enctype="multipart/form-data">
{% csrf_token %}
	<div class="row">
		<div class="col-sm-2 col-md-2">
			<label for="datepicker-start">Alku</label>
			<div class="calendar">
				<div class="form-group">
					<div class='input-group date' id='datepicker-start'>
						<span class="input-group-addon" style="cursor:pointer">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
						<input type='text' class="form-control" name="datepicker-start" />
					</div>
				</div>
			</div>

			<label for="datepicker-end">Loppu</label>
			 <div class="calendar">
				 <div class="form-group">
					<div class='input-group date' id='datepicker-end'>
						<span class="input-group-addon" style="cursor:pointer">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
						<input type='text' class="form-control" name="datepicker-end" />
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-2 col-md-2">
			<br>
			<select class="form-control" name="status">
				<option selected="selected">Status</option>
				<option>Open</option>
				<option>Closed</option>
			</select>
			<br>
			
			<!--<input type="checkbox" name="distance" value="Distance">Sort by distance from my location<br>-->
			<select class="form-control" name="order_by">
				<option value="distance">Distance</option>
				<option value="vote_counter">Votes</option>
				<option value="requested_datetime">Creation datetime</option>
			</select>
			
		</div>
		<div class="col-sm-3 col-md-3">
			<br>
			<select class="form-control" name="service_code">
				<option selected="">Service name</option>
				{% for service in services %}
				<option value="{{service.service_code}}">{{ service.service_name }}</option>
				{% endfor %}
			</select>
			<br>
		</div>
		<div class="col-sm-5 col-md-5">
	        <br>
	        <input type="text" class="form-control" name="description" placeholder="Description"><br>

			<button class="btn btn-primary" type="submit" value="Search">
				Apply
			</button>
			<br>
		</div>
	</div>
</form>
</div>
