{% extends "base.html" %}
{% load staticfiles %}
{% load custom_tags %}
{% block head %}
{% endblock %}

{% block content %}
    {% include "feedback_list_filter.html" %}
    {% if feedbacks %}
        {% for item in feedbacks %}
            <div class="row feedback_list_row">
                <div class="col-xs-12 col-sm-3 feedback_list_img ">
                    <a class="feedback_list_title" href="{% url 'feedback_details' item.id %}">
                        <img class="img img-responsive center-cropped"
                             src={% include "feedback_image_url.html" with service_code=item.service_code media_url=item.media_url %} alt="Feedback
                             image"/>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-2 feedback_list_details col-sm-push-7">
                    <div class=row>
                        <div class="col-sm-9 hidden-sm hidden-md hidden-lg">
                            <a class="feedback_list_title" href="{% url 'feedback_details' item.id %}">
                                <h4>{{ item.title|default:'Ei otsikkoa' }}</h4>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xs-7">
                            {% if item|is_open %}
                                <h4 class="text-success">
                                    {{ item|real_status }}<br/>
                                    <small>{{ item.requested_datetime|default_if_none:""|date:"d.m.o " }}</small>
                                </h4>
                            {% else %}
                                <h4 class="text-danger">
                                    {{ item|real_status }}<br/>
                                    <small>{{ item.updated_datetime|default_if_none:""|date:"d.m.o " }}</small>
                                </h4>
                            {% endif %}
                        </div>
                        <div class="col-xs-5 feedback_list_icons hidden-sm hidden-md hidden-lg text-right">
                            <span class="glyphicon glyphicon-thumbs-up feedback_list_vote_icon {% feedback_vote_icon_status request item %}"
                                  id="{{ item.id }}"></span>
                            <span class="badge feedback_list_vote_badge">{{ item.vote_counter }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 hidden-xs">
                            <p>Vastuullinen taho: <br/>
                                <small>{{ item.agency_responsible|default:'' }}</small>
                            </p>
                        </div>
                        {% if item|is_open %}
                            <div class="col-sm-12 text-info">
                                <p>Arvio:
                                    <small>{{ item|get_expected_datetime|time_from_now }}</small>
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    {% if item.distance %}
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Etäisyys:
                                    {% if item.distance.m < 1000 %}
                                        {{ item.distance.m|floatformat:"0" }} m
                                    {% else %}
                                        {{ item.distance.km|floatformat:"2" }} km
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                <small>{{ item.address_string|default:'Ei osoitetta' }}</small>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-7 feedback_list_content col-sm-pull-2">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9">
                            <div class=row>
                                <div class="col-sm-9 hidden-xs">
                                    <a class="feedback_list_title" href="{% url 'feedback_details' item.id %}">
                                        <h4>{{ item.title|default:'Ei otsikkoa' }}</h4>
                                    </a>
                                </div>
                            </div>
                            <div class=row>
                                <div class="col-sm-12">
                                    <p><strong>Aihealue: {{ item.service_code|get_service_name }}</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 feedback_list_icons hidden-xs text-right">
                            <span class="glyphicon glyphicon-thumbs-up feedback_list_vote_icon {% feedback_vote_icon_status request item %}"
                                  id="{{ item.id }}"></span>
                            <span class="badge feedback_list_vote_badge">{{ item.vote_counter }}</span>
                        </div>
                    </div>
                    <div class=row>
                        <div class="col-sm-12 feedback_list_content_desc">
                            <p>{{ item.description | truncatechars:300 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="pagination">
                    {% if feedbacks.has_previous %}
                        <a href="?{{ queries.urlencode }}&amp;page={{ feedbacks.previous_page_number }}"
                           class="btn btn-primary" role="button">&lt;&lt;</a>
                    {% else %}
                        <a class="btn btn-primary disabled" role="button">&lt;&lt;</a>
                    {% endif %}
                    <span>{{ feedbacks.number }} / {{ feedbacks.paginator.num_pages }}</span>
                    {% if feedbacks.has_next %}
                        <a href="?{{ queries.urlencode }}&amp;page={{ feedbacks.next_page_number }}"
                           class="btn btn-primary" role="button">&gt;&gt;</a>
                    {% else %}
                        <a class="btn btn-primary disabled" role="button">&gt;&gt;</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <h3>Ei palautteita!</h3>
    {% endif %}

    <script type="text/javascript">
        $(function () {
            enable_voting("{{csrf_token}}", "{% url 'vote_feedback' %}");
        });
    </script>

    <script type="text/javascript" src="{% static 'utils/enable_voting.js' %}"></script>
    {% include 'footer.html' %}
{% endblock %}
