{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-12 col-md-8" style="padding: 40px">
                    <div class="row">
                        <h1 class="feedback_title">{{ feedback.title }}</h1>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-muted">Aihealue: {{ feedback.service_name }}</p>
                                <p class="text-muted">Vastuullinen taho: {{ feedback.agency_responsible }}</p>
                                <p class="text-muted">Created: {{ feedback.requested_datetime }}</p>
                                <p class="text-muted">Current status: {{ feedback.status }}</p>
                                <p>{{ feedback.description }}</p>
                                <p>Estimated time of fixing: {{ feedback.estimated_datetime }}</p>
                                <p>{{ feedback.address_string }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="xs-col-3">
                                <span class="badge feedback_list_vote_icon"
                                      id="{{ feedback.pk }}">
                                    <span>
                                        +1
                                    </span>
                                </span>
                                <span class="badge feedback_list_vote_badge">{{ feedback.vote_counter }}</span>
                                <span class="glyphicon glyphicon-share" style="padding-left: 20px"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p>
                        <img id="feedback_image" class="img-thumbnail img-responsive center-cropped-details-page"
                             src="https://placehold.it/320x320"/>
                    </p>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        "use strict";

        var lat = "{{feedback.lat}}";
        var lon = "{{feedback.lon}}";

        var map = L.map('map').setView([lat, lon], 14);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
            maxZoom: 18
        }).addTo(map);

        L.marker([lat, lon]).addTo(map);
    </script>

    <script type="text/javascript">
        $(function () {
            enable_voting("{{csrf_token}}", "{% url 'vote_feedback' %}");
        });
    </script>

    <script type="text/javascript" src="{% static 'enable_voting.js' %}"></script>
{% endblock %}
