{% block footer %}
    <footer class="main_footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>For the visitors</h4>
                            <a href="/instructions/"><p>How to use this site</p></a>
                            <a href="/instructions/"><p>Questions and answers</p></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>About the project</h4>
                            <a href="https://github.com/hep7agon/city-feedback-hub"><p>Contribute to project</p></a>
                            <a href="https://github.com/hep7agon/city-feedback-hub"><p>API documentation</p></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Partners</h4>
                            <a href="http://www.forumvirium.fi/"><p>Forum Virium</p></a>
                            <a href="http://6aika.fi/"><p>6city</p></a>
                            <a href="http://dev.hel.fi/"><p>Helsinki Loves Devs</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <p>Photo by Roccodm via <a href="https://commons.wikimedia.org/wiki/File:HelsinkiPanorama_rocco.jpg">Wikimedia Commons</a> (CC BY-SA 3.0)</p>
        </div>
    </footer>
{% endblock %}
