{% block footer %}
    <footer class="main_footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Tietoja projektista</h4>
                            <a href="https://github.com/hep7agon/city-feedback-hub"><p>Projektin GitHub-sivut</p></a>
                            <a href="http://dev.hel.fi/apis/open311/"><p>Helsinki Open311 API</p></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Yhteistyössä</h4>
                            <a href="http://dev.hel.fi/"><p>Helsinki Loves Devs</p></a>
                            <a href="http://6aika.fi/"><p>6city</p></a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
              <!-- This is used only on the mainpage to add CC credit for the header image -->
              {{ photocredit }}
            </div>
        </div>
    </footer>
{% endblock %}
