{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="{% static 'leaflet-heat.js' %}"></script>
{% endblock %}
{% block content %}
{%include "statistics_menu.html" with heatmap_active="active"%}
<div id="heatmap">
</div>

<script type="text/javascript">
    $(function() {
        var HelsinkiCoord = {lat: 60.17067, lng: 24.94152};

        var map = L.map("heatmap").setView([HelsinkiCoord.lat, HelsinkiCoord.lng], 13);

        // L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        //     attribution: 'Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
        //     maxZoom: 18,
        // }).addTo(map);

        L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
            subdomains: 'abcd',
            maxZoom: 18
        }).addTo(map);

        $.getJSON("/api/v1/feedbacks?status=open", function (data) {
            var items = [];
            $.each(data, function (key, feedback) {
                items.push([feedback.lat, feedback.long]);
            });
            var heat = L.heatLayer(items, {minOpacity: 0.4, maxZoom: 18}).addTo(map);
        });

    });
</script>
{% endblock %}