{% load custom_tags %}
{% block navbar %}
<div class="container-fluid">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand {% navbar_link_class request 'mainpage' %}" href="/">CFH</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="{% navbar_link_class request 'feedback_form' %}"><a href="{% url 'feedback_form' %}">Anna palaute</a></li>
					<li class="{% navbar_link_class request 'feedback_list' %}" ><a href="{% url 'feedback_list' %}">Listaa palautteet</a></li>
					<li class="{% navbar_link_class request 'map' %}" ><a href="{% url 'map' %}">Kartta</a></li>
					<li class="{% navbar_link_class request 'statistics department charts' %}" ><a href="{% url 'statistics' %}">Tilastotiedot</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="{% navbar_link_class request 'about' %}" ><a href="{% url 'about' %}">Tietoja</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
{% endblock %}
