{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
{%include "statistics_menu.html" with statistics_active="active"%}
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-center">Palvelu Tilastotiedot</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Aihe</th>
                    <th>Yhteensä</th>
                    <th>Suljettu</th>
                    <th>Avoinna</th>
                    <th>Käsittelyajat</th>
                </tr>
                </thead>
                <tbody>
                {% for item in data %}
                    <tr>

                        <td><a href="/feedbacks/?service_code={{item.service_code}}">{{ item.service_name }}</a></td>
                        <td>{{ item.total }}</td>
                        <td>{{ item.closed }}</td>
                        <td>{{ item.open }}</td>
                        <td>{{ item.median| td_humanize }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}