<div class="text-center" style="padding-top: 10px;">
    <div class="btn-group">
      <a role="button" href="{% url 'statistics'%}" class="btn btn-default {{statistics_active}}">Palvelut</a>
      <a role="button" href="{% url 'heatmap'%}" class="btn btn-default {{heatmap_active}}">Kartta</a>
      <a role="button" href="{% url 'department'%}" class="btn btn-default {{department_active}}">Virastot</a>
        <a role="button" href="{% url 'charts'%}" class="btn btn-default {{charts_active}}">Kaaviot</a>
    </div>
</div>