{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">

            <h3 class="text-center">Statistics</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Services</th>
                    <th>Total</th>

                </tr>
                </thead>
                <tbody>
                {% for every in feedback_category %}
                    <tr>
                        <td>{{ every.service_name }}</td>
                        <td>{{ every.total }}</td>


                    </tr>
                {% endfor %}


                </tbody>
            </table>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Services</th>
                    <th>Closed Cases</th>
                    <th>Average Time in Days</th>


                </tr>
                </thead>
                <tbody>
                {% for every in closed %}
                    <tr>
                        <td>{{ every.service_name }}</td>
                        <td>{{ every.total }}</td>
                        <td>{{ every.duration.days }} days</td>


                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}