{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
    {% include "statistics_menu.html" with statistics_active="active" %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="text-center">Palvelutilastot</h3>
                    <table class="table table-condensed statistic_table">
                        <thead>
                            <tr>
                                <th>Aihe</th>
                                <th class="hidden-xs">Yhteensä</th>
                                <th>Suljettu</th>
                                <th>Avoinna</th>
                                <th>Käsittelyajat</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in data %}
                            <tr>
                                <td>{{ item.service_name }}</td>
                                <td class="hidden-xs"><a
                                        href="/feedbacks/?service_code={{ item.service_code }}">{{ item.total }}</a></td>
                                <td>
                                    <a href="/feedbacks/?status=closed&service_code={{ item.service_code }}">{{ item.closed }}</a>
                                </td>
                                <td>
                                    <a href="/feedbacks/?status=open&service_code={{ item.service_code }}">{{ item.open }}</a>
                                </td>
                                <td>{{ item.median| td_humanize }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% include "footer.html" %}
{% endblock %}